.code {
  width: 4.2rem;
  height: 8.45rem;
  margin-left: 0.8rem;
  margin-top: 0.4rem;
  .header {
    width: 3.26rem;
    height: 0.8rem;
    .lulu {
      width: 3.24rem;
      height: 0.76rem;
      .gift_rule {
        width: 3.23rem;
        height: 0.76rem;
      }
    }
    //img{
    //  width: 0.3rem;
    //  margin-top: -0.24rem;
    //  margin-left: 1.5rem;
    //}
  }
  .qone {
    margin-top: 0.3rem;
    border-bottom: 0.01rem dashed white;
    width: 3.9rem;
    color: white;
    text-align: center;
    line-height: 0.4rem;
    font-size: 0.25rem;
    font-weight: bold;
    padding-bottom: 0.2rem;
  }
  .buttom {
    height: 4.759rem;
    .first-one {
      margin-top: 0.35rem;
      text-align: center;
      color: white;
      font-size: 0.25rem;
      font-weight: bold;
    }
    .first-two {
      color: yellow;
      margin-top: 0.1rem;
      text-align: center;
      font-size: 0.25rem;
      font-weight: bold;
      letter-spacing: 0.05rem;
    }
    .first-tre {
      margin-top: 0.1rem;
      color: white;
      font-size: 0.25rem;
      font-weight: bold;
      text-align: center;
    }
    .img {
      width: 4.15rem;
      height: 2.81rem;
      margin-top: 0.5rem;
    }
  }
}
