.code {
  position: absolute;
  width: 4.2rem;
  height: 8.45rem;
  left: 0.8rem;
  top: 0.4rem;
  .header {
    width: 3.26rem;
    height: 0.8rem;
    .lulu {
      line-height: -0.33rem;
      width: 3.24rem;
      height: 0.62rem;
      border: 0.05rem solid white;
      border-radius: 0.1rem;
      font-size: 0.41rem;
      text-align: center;
      color: yellow;
    }
  }
  .qone {
    height: 1rem;
    margin-top: 0.45rem;
    border-bottom: 0.01rem dashed white;
    .qy {
      width: 3.9rem;
      height: 0.8rem;
      color: white;
    }
  }
  .qtwo {
    height: 1.07rem;
    margin-top: 0.34rem;
    border-bottom: 0.01rem dashed white;
    .alone {
      width: 3.68rem;
    }
  }
  .buttom {
    height: 4.759rem;
    .first-one {
      margin-top: 0.35rem;
    }
    .first-two {
      color: orange;
      margin-top: 0.08rem;
    }
    .first-tre {
      margin-top: 0.08rem;
    }
    .img {
      height: 2.81rem;
      margin-top: 0.59rem;
    }
  }
}
