.code {
  width: 4.2rem;
  height: 8.45rem;
  margin-left: 0.8rem;
  margin-top: 0.4rem;
  .header {
    width: 3.26rem;
    height: 0.8rem;
    .lulu {
      line-height: -0.33rem;
      width: 3.24rem;
      height: 0.62rem;
      border: 0.05rem solid white;
      border-radius: 0.1rem;
      font-size: 0.41rem;
      text-align: center;
      color: yellow;
    }
  }
  .qone {
    margin-top: 0.45rem;
    border-bottom: 0.01rem dashed white;
    width: 3.9rem;
    color: white;
    text-align: center;
    line-height: 0.45rem;
    font-size: 0.25rem;
    padding-bottom: 0.2rem;
  }
  .qtwo {
    margin-top: 0.34rem;
    border-bottom: 0.01rem dashed white;
    width: 3.68rem;
    color: white;
    text-align: center;
    margin-top: 0.34rem;
    font-size: 0.25rem;
    line-height: 0.45rem;
    padding-bottom: 0.2rem;
  }
  .buttom {
    height: 4.759rem;
    .first-one {
      margin-top: 0.35rem;
      text-align: center;
      color: white;
      font-size: 0.25rem;
    }
    .first-two {
      color: yellow;
      margin-top: 0.14rem;
      text-align: center;
      font-size: 0.25rem;
      letter-spacing:0.05rem;
    }
    .first-tre {
      margin-top: 0.14rem;
      color: white;
      font-size: 0.25rem;
      text-align: center;
    }
    .img {
      width:4.15rem;
      height: 2.81rem;
      margin-top: 0.59rem;
    }
  }
}
