.dz{
  width: 5.3rem;
  height: 80%;
  background: url("../assets/getImg/BJ_2@2x.png")no-repeat;
  background-size: 5.3rem 100%;
  margin-top: .75rem;
  .num{
    background: rgb(26,26,28);
    width: 4.8rem;
    height: 0.77rem;
    border:none;
    margin-top: 2rem;
    margin-left: 0.25rem;
    color: rgb(245,220,34);
    text-align: center;
    letter-spacing:0.05rem;
    font-size: 0.3rem;
  }
  input::-ms-input-placeholder{text-align: center;color:rgb(245,220,34);font-size: 0.3rem;}
  input::-webkit-input-placeholder{text-align: center;color:rgb(245,220,34);font-size: 0.3rem;}
  .file{
    width: 3.43rem;
    height: 0.61rem;
    background: rgb(242,153,1);
    border: none;
    margin-top: 0.3rem;
    border-radius: 0.1rem;
    font-size: 0.33rem;
    margin-left: 0.95rem;
    color: #fff;
    letter-spacing:0.05rem;
  }
  .click{
    margin-top: 0.67rem;
    color: yellow;
    font-size: 0.3rem;
    text-align: center;
    letter-spacing:0.05rem;
  }
  .onetime{
    color: #fff;
    text-align: center;
  }
  .register_time{
    margin-top: -0.1rem;
    color: #fff;
    text-align: center;
    span{
      color: yellow;
    }
  }
}
