<div class="bg">
  <div class="mask_getNow" ng-show="Nowshow">
    <div class="gala">
      <div class="getNowImg3">
        <img src="assets/images/getImg/txt_11@2x.png" alt="" class="getNowImg4">
      </div>
      <span class="gala_f gala5 css3cf8ab84161ab">&lt;{{user.getMoney}}元活动福利&gt;</span>
      <span class="gala_f gala_font" ng-show="isRegister">您已经参加此活动</span>
      <button class="gala_click css3cf8ab84161ab" ng-click="goToSuccess()">确定</button>
    </div>
  </div>
  <div class="bgs">
    <div class="bgw">
      <div class="dz">
        <input class="num" type="text" placeholder="输手机号码" ng-model="user.phone" maxlength="11">
        <button class="file css3cf8ab84161ab" type="button" ng-click="login()">
          <img src="assets/images/getImg/txt_14@2x.png" alt="" class="getNowSharedImg">
        </button>
        <div class="click">
          <img src="assets/images/getImg/txt_15@2x.png" alt="">
        </div>
        <p class="onetime">您在注册成功的同时</p>
        <p class="onetime">原分享用户将获得
          <span class="yellow">2元</span>
          分享注册福利
        </p>
      </div>
    </div>
  </div>
</div>
