.check{
  width:3.23rem;
  height:0.76rem;
  margin-top: 1rem;
  margin-left: 1.25rem;
}
.gift_list{
  width:4rem;
  height: 5.05rem;
  border: 0.05rem solid yellow;
  border-radius: 0.2rem;
  list-style: none;
  color: white;
  font-size: 0.3rem;
  margin-top: 0.5rem;
  overflow: hidden;
  li{
    margin-left: 0.22rem;
    height: 1rem;
    line-height: 1rem;
    margin-right: 0.22rem;
    border-bottom: 0.02rem dashed white;
  }
}
.bottomlogo{
  width:1.61rem;
  height: 0.55rem;
  margin-top: 0.5rem;
  margin-left: 2rem;
}
