<div class="bg">
  <div class="mask_getNow" ng-show="Nowshow">
  <div class="gala">
    <span class="gala_f gala_u css3cf8ab84161ab">恭喜您</span>
    <span class="gala_f gala_get css3cf8ab84161ab">已成功领取</span>
    <span class="gala_f gala5 css3cf8ab84161ab">&lt;{{user.getMoney}}元活动福利&gt;</span>
    <span class="gala_f gala_font" ng-show="isRegister">您已经参加此活动</span>
    <button class="gala_click css3cf8ab84161ab" ng-click="goToSuccess()">确定</button>
  </div>
</div>
  <div class="bgs">
    <div class="bgw">

      <div class="dole">
        <div class="getNow">
          <img src="assets/getImg/get1@2x.png" alt="" class="getNowImg">
        </div>
        <input class="phonenum" placeholder="输入手机号" type="text" ng-model="user.phone" maxlength="11">
        <button class="go" ng-click="login()">领取福利</button>
      </div>
      <div class="gz">
        <div class="top">活动规则
          <!--<div class="activeRule">1234</div>-->
          <!--<span class="actRule css3cf8ab84161ab">活动规则</span>-->
        </div>
      </div>
      <div class="func">
        <div class="yi-zi">
          <p class="zi">①活动时间:6月16日-6月30日</p>
        </div>
        <div class="yi-zi">
          <p class="zi">②活动期间,新用户注册还可领取更多红包</p>
        </div>
        <div class="yi-zi">
          <p class="zi">③参与活动的用户均可领取一个5元福利</p>
          <p class="zi">关注票据宝订阅号,可再领3元</p>
        </div>
        <div class="yi-zi">
          <p class="zi">④可以邀请好友注册,为你的红包充值</p>
          <p class="zi">好友注册后红包增加2元,最多可邀请4位好友</p>
          <p class="zi">最终获得的16元福利,投资满额即可使用</p>
          <p class="zi">到期回款可提现</p>
        </div>
        <div class="er-zi">
          <p>⑤本活动最终解释权归票据宝所有</p>
        </div>
      </div>
    </div>
  </div>
</div>
