<div class="test">
  <div class="bx">
    <div class="yx">
      <div class="mask_getNow" ng-show="Nowshow">
        <div class="gala">
          <span class="gala_f gala_u">恭喜您</span>
          <span class="gala_f gala_get">已成功领取</span>
          <span class="gala_f gala5">< 5 元 活 动 福 利 ></span>
          <span class="gala_f gala_font" ng-show="isRegister">您 已 经 参 加 此 活 动</span>
          <button class="gala_click" ng-click="goToSuccess()">确定</button>
        </div>
      </div>
      <div class="dole">
        <p><马上领取></p>
        <input class="phonenum" placeholder="&nbsp;输&nbsp;入&nbsp;手&nbsp;机&nbsp;号" type="text" ng-model="phoneNum">
        <button class="go" ng-click="login()">&nbsp;领&nbsp;取&nbsp;福&nbsp;利&nbsp</button>
      </div>
      <div class="gz">
        <div class="top">
          活动规则
        </div>
      </div>
      <div class="first_one">
        <p>①&nbsp;活动时间:&nbsp;&nbsp;6月16日-6月30日</p>
      </div>
      <div class="first_two">
        <p>②&nbsp;活动期间,&nbsp;新用户注册还可领取更多红包</p>
      </div>
      <div class="faone">
        <p class="faone-one">③&nbsp;参与活动的用户均可另取一个5元福利</p>
        <p class="faone-two">关注票据宝订阅号,&nbsp;&nbsp;可再领3元</p>
      </div>
      <div class="fatre">
        <p class="fatre-one">④&nbsp;可以邀请好友注册,&nbsp;&nbsp;为你的红包充值</p>
        <p class="fatre-two">好友注册后红包增加两元,&nbsp;&nbsp;最多可邀请4位好友</p>
        <p class="fatre-tre">最终获得的16元福利,&nbsp;&nbsp;投资满额即可使用</p>
        <p class="fatre-for">到期回款可提现</p>
      </div>
      <div class="fafor">
        <p>⑤&nbsp;本活动最终解释权归票据宝所有</p>
      </div>
    </div>
  </div>
</div>
