.mask_getNow{
  width: 6.4rem;
  height: 10.08rem;
  background: rgba(0,0,0,0.6);
  position: absolute;
  left:-0.34rem;
  top:-0.35rem;
  z-index: 999;
  .gala{
    width:4.36rem;
    height: 2.98rem;
    background: rgba(255,255,255,0.91);
    border-radius: 0.2rem;
    margin-top: 2.7rem;
    text-align: center;
  }
  .gala_f{
    width: 4.36rem;
    display: inline-block;
    color: black;
    font-weight: bolder;
    margin-top: 0.34rem;
    text-align: center;
    letter-spacing:0.05rem;
  }
  .gala_u{
    font-size: 0.3rem;
  }
  .gala_get{
    margin-top: 0;
    font-size: 0.3rem;

  }
  .gala5{
    font-size: 0.3rem;
    margin-top: 0.06rem;
    color: rgb(141,32,22);
  }
  .gala_font{
    font-size: 0.15rem;
    margin-top: 0.18rem;
    color: gray;
  }
  .gala_click{
    margin-top: 0.18rem;
    width: 1.68rem;
    height: 0.58rem;
    color: #000;
    background:orange;
    border: none;
    border-radius: 0.2rem;
    font-size: 0.35rem;
  }
}
.dole{
  width: 5.25rem;
  height: 2.55rem;
  background: rgb(245,220,34);
  margin-top: 0.26rem;
  border-radius: 0.2rem;
  p{
    width: 100%;
    text-align: center;
    color: black;
    padding-top: 0.1rem;
    line-height: 0.5rem;
    font-size: 0.35rem;
    font-weight:900;
    letter-spacing:0.05rem;
  }
  input::-ms-input-placeholder{text-align: center;color:rgb(245,220,34);font-size: 0.25rem;}
  input::-webkit-input-placeholder{text-align: center;color:rgb(245,220,34);font-size: 0.2rem;}
  .phonenum{
    width: 4.9rem;
    height: 0.5rem;
    border: none;
    color: rgb(245,220,34);
    margin-top:-0.1rem;
    margin-left: 0.1625rem;
    background: black;
    text-align: center;
    font-size: 0.2rem;
    letter-spacing:0.05rem;
  }
  .go{
    width: 4.9rem;
    height: 0.5rem;
    border: none;
    bottom: 0.45rem;
    color: black;
    margin-top: 0.4rem;
    margin-left: 0.1625rem;
    background: rgb(242,153,1);
    font-size: 0.2rem;
    letter-spacing:0.05rem;
  }
}
.gz{
  width: 2.04rem;
  height: 0.62rem;
  margin-top:0.5rem;
  border-bottom: 0.05rem solid white;
  .actRule{
    margin-left: 0.2rem;
    margin-top:-0.02rem;
    letter-spacing:0.05rem;
  }
  .top{
    width: 2.04rem;
    height: 0.53rem;
    border: 0.02rem solid white;
    font-size: 0.35rem;
    color: rgb(245,220,34);
    font-weight: 900;
  }
}
.func{
  margin-top: 0.3rem;
  .yi-zi{
    color: #fff;
    width: 5.25rem;
    border-bottom: 0.02rem dashed white;
    margin-top: 0.2rem;
    padding-bottom: 0.1rem;
    font-size: 0.25rem;
    .zi{
      line-height: 0.2rem;
    }
  }
  .er-zi{
    color: #fff;
    width: 5.25rem;
    font-size: 0.25rem;
    margin-top: 0.2rem;
  }
}

