.bgb {
  width: 4.91rem;
  height: 7.49rem;
  margin: auto;
  background: url("../assets/firstImg/wupin@2x.png");
  background-size: 4.91rem 7.49rem;
  margin-top: 1.1rem;
  .two {
    width: 2.77rem;
    height: 4.35rem;
    margin-left: 1.2rem;
  }
  .let {
    width: 2.78rem;
    height: 1.55rem;
    margin-left: 1.2rem;
  }
  .first_logo {
    width: 1.61rem;
    height: 0.55rem;
    margin-top: 1rem;
    margin-left: 1.7rem;
  }
  .img_ani {
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
  }
}

.arrow {
  width: 1rem;
  height: .2rem;
  margin-top: 1.2rem;
  background: aliceblue;
  animation: fadeInOut 1.5s ease-out infinite forwards;
}

@-webkit-keyframes fadeInOut {
  0% {
    transform: translatey(0);
    opacity: 1;
  }
  100% {
    transform: translatey(.3rem);
    opacity: 0;
  }

}
