<div class="bg">
  <div class="bgs">
    <div class="bgw">
      <div>
        <img ng-src="{{arr.src}}" ng-class="arr.class" ng-repeat="arr in arrImg1">
      </div>
      <img src="assets/images/11@2x.png" alt="" class="img11 animated fadeIn" ng-show="logoActive" ng-click="gothird()">
      <img src="assets/images/12@2x.png" alt="" class="img12 animated infinite pulse" ng-show="logoActive" ng-click="gothird()">
      <div>
        <img ng-src="{{arry.src}}" ng-class="arry.class" ng-repeat="arry in arrImg2">
      </div>
      <img src="assets/images/logo@2x.png" alt="" class="img24 animated fadeIn" ng-show="logoActive">
    </div>
  </div>
</div>
