
<div class="bg">
  <div class="bgs">
    <div class="bgw">
      <div class="mask" ng-show="showCaptcha">
        <div class="first-mask">
          <div class="words">
            <p class="first-lines">输入验证码</p>
            <p class="second-lines">完成注册</p>
          </div>
          <div class="yanzheng">
            <input class="yanzheng-left" placeholder='输&nbsp;入&nbsp;验&nbsp;证&nbsp;码' type="text" ng-model="Identifying">
            <img ng-src="{{captcha}}" alt="" class="yanzheng-right" ng-click="reimg()">
          </div>
          <button type="button" class="assign" ng-click="sub()">确&nbsp;定</button>
        </div>
      </div>
      <img src="assets/getImg/toutu.png" alt="" class="toutu">
      <img src="assets/getImg/biaoti@2x.png" alt="" class="biaoti">
      <button class="gift5">5元活动福利</button>
      <div class="font-use">
        <span class="rover">完成注册,立即使用</span>
        <span class="usee">票据宝·给你好看</span>
      </div>
      <div class="sj"></div>
      <form action="post" class="register">
        <p class="head"><手&nbsp;机&nbsp;号&nbsp;注&nbsp;册></p>
        <div class="obtain">
          <input type="text" placeholder="输&nbsp;入&nbsp;验&nbsp;证&nbsp;码" class="zuo" ng-model="verification">
          <button type="button" class="you" ng-click="phoneCode()">获取手机验证码</button>
        </div>
        <input class="password" type="password" placeholder="输&nbsp;入&nbsp;密&nbsp;码" ng-model="pwd">
        <input class="again" type="password" placeholder="再&nbsp;次&nbsp;输&nbsp;入&nbsp;密&nbsp;码" ng-model="pwda">
        <button type="button" class="more" ng-click="regis()">注册获得更多好礼</button>
      </form>
    </div>
  </div>
</div>


