<div class="bg">
  <div class="mask" ng-show="showCaptcha">
    <div class="first-mask">
      <div class="words">
        <p class="first-lines css3cf8ab84161ab">输入验证码</p>
        <p class="second-lines css3cf8ab84161ab">完成注册</p>
      </div>
      <div class="yanzheng">
        <input class="yanzheng-left" placeholder='输入验证码' type="text" ng-model="Identifying">
        <img ng-src="{{captcha}}" alt="" class="yanzheng-right" ng-click="reimg()">
      </div>
      <button type="button" class="assign" ng-click="sub()">确定</button>
    </div>
  </div>
  <div class="bgs">
    <div class="bgw">

      <div class="toutu">
        <div class="biaotiS">
          <img src="assets/images/TXT_1@2x.png" alt="" class="biaotiw">
        </div>
        <div class="gift5s">
          <button class="gift5 css3cf8ab84161ab">5元活动福利</button>
        </div>
      </div>

      <div class="font-use">
        <p class="rover css3cf8ab84161ab">完成注册,立即使用</p>
        <p class="usee css3cf8ab84161ab">票据宝·给你好看</p>
      </div>
      <div class="sj"></div>
      <form action="post" class="register">
        <p class="head css3cf8ab84161ab">
          <手机号注册>
        </p>
        <div class="obtain">
          <input type="text" placeholder="输入验证码" class="zuo" ng-model="verification" maxlength="4">
          <button type="button" class="you" ng-click="phoneCode()">获取手机验证码</button>
        </div>
        <input class="password" type="password" placeholder="输入密码" ng-model="pwd">
        <input class="again" type="password" placeholder="再次输入密码" ng-model="pwda">
        <button type="button" class="more" ng-click="regis()">注册获得更多好礼</button>
      </form>
    </div>
  </div>
</div>


