.gift5 {
  width: 3.22rem;
  height: 0.64rem;
  border: none;
  border-radius: 0.2rem;
  background: #fed22f;
  font-size: 0.35rem;
  font-weight: bolder;
  margin-left: 1.3rem;
  margin-top: 0.3rem;
  img {
    width: 2.25rem;
    height: 0.31rem;
    margin-top: -0.1rem;
  }
}

.gift5:active {
  background: darken(#fed22f, 10%);
}

.font-use {
  width: 5rem;
  height: 1.2rem;
  .gone {
    width: 5.08rem;
    height: 1.02rem;
  }
}

.biaotiS {
  .biaotiw {
    width: 3.77rem;
    height: 1.33rem;
    margin-top: 0.4rem;
    margin-left: 1rem;
  }
}

.sj {
  width: 0;
  height: 0;
  border-left: 0.2rem solid transparent;
  border-right: 0.2rem solid transparent;
  border-top: 0.2rem solid white;
  margin-top: 0.3rem;
}

.register {
  background: rgb(245, 220, 34);
  margin-top: 0.2rem;
  width: 5.25rem;
  height: 4.18rem;
  border-radius: 0.2rem;
  input::-ms-input-placeholder {
    text-align: center;
    color: rgb(245, 220, 34);
    font-size: 0.26rem;
    font-weight: bold;
  }
  input::-webkit-input-placeholder {
    text-align: center;
    color: rgb(245, 220, 34);
    font-size: 0.26rem;
    font-weight: bold;
  }
  .head {
    color: rgb(65, 65, 65);
    font-size: 0.33rem;
    font-weight: 700;
    padding-top: 0.3rem;
    text-align: center;
    letter-spacing: 0.05rem;
    img {
      width: 2.54rem;
      height: 0.31rem;
      margin-top: -0.2rem;
    }
  }
  .obtain {
    margin-top: 0.1rem;
    width: 4.85rem;
    height: 0.49rem;
    .zuo {
      width: 2.57rem;
      height: 0.49rem;
      float: left;
      background: black;
      border: none;
      color: rgb(245, 220, 34);
      text-align: center;
      letter-spacing: 0.05rem;
    }
    .you {
      width: 2.16rem;
      height: 0.49rem;
      float: right;
      border: none;
      color: black;
      background: rgb(238, 134, 22);
      font-size: 0.26rem;
      font-weight: bold;
    }
    .you:active {
      background: darken(rgb(238, 134, 22), 10%);
    }
  }
  .password {
    margin-top: 0.3rem;
    width: 4.85rem;
    height: 0.49rem;
    border: none;
    background: black;
    color: rgb(245, 220, 34);
    margin-left: 0.2rem;
    text-align: center;
    letter-spacing: 0.05rem;
  }
  .again {
    margin-top: 0.3rem;
    width: 4.85rem;
    height: 0.49rem;
    border: none;
    background: black;
    color: rgb(245, 220, 34);
    margin-left: 0.2rem;
    text-align: center;
    letter-spacing: 0.05rem;
  }
  .more {
    margin-top: 0.3rem;
    border: none;
    width: 4.85rem;
    height: 0.49rem;
    background: rgb(238, 134, 22);
    color: black;
    margin-left: 0.2rem;
    text-align: center;
    font-size: 0.26rem;
    font-weight: bold;
  }
  .more:active {
    background: darken(rgb(238, 134, 22), 10%);
  }
}

.mask {
  width: 6.4rem;
  height: 108%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  input::-ms-input-placeholder {
    text-align: center;
    color: white;
    font-size: 0.23rem;
  }
  input::-webkit-input-placeholder {
    text-align: center;
    color: white;
    font-size: 0.23rem;
  }
  z-index: 999;
  .first-mask {
    width: 4.36rem;
    height: 2.98rem;
    border-radius: 0.2rem;
    background: rgba(255, 255, 255, 0.9);
    margin-top: 3rem;
    .words {
      width: 4.36rem;
      height: 1.28rem;
      .first-lines {
        color: black;
        font-size: 0.38rem;
        line-height: 1rem;
        text-align: center;
      }
      .second-lines {
        color: black;
        font-size: 0.38rem;
        margin-top: -0.5rem;
        text-align: center;
      }
      img {
        width: 2.16rem;
        height: 0.66rem;
        margin-top: 0.3rem;
        margin-left: 1rem
      }
    }
    .yanzheng {
      width: 3.96rem;
      height: .49rem;
      .yanzheng-left {
        width: 2.57rem;
        height: 0.49rem;
        float: left;
        border: none;
        background: black;
        color: #fff;
        text-align: center;
        letter-spacing: 0.05rem;
      }
      .yanzheng-right {
        border: none;
        width: 1.24rem;
        height: 0.49rem;
        background: orange;
        color: black;
        float: right;
      }
    }
    .assign {
      width: 1.68rem;
      height: 0.58rem;
      background: orange;
      color: black;
      border-radius: 0.2rem;
      border: none;
      margin-left: 1.34rem;
      font-size: 0.38rem;
      margin-top: 0.32rem;
      img {
        width: 0.9rem;
        height: 0.31rem;
      }
    }
    .assign:active {
      background: darken(orange, 10%);
    }
  }
}
